{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": ["always", {
      "ignore": ["stylelint-commands", "between-comments"]
    }],
    "block-closing-brace-empty-line-before": null,
    "block-closing-brace-newline-before": null,
    "at-rule-empty-line-before": ["always"],
    "rule-nested-empty-line-before": "always-multi-line",
    "block-opening-brace-newline-after": null
  }
}
