{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-empty-line-before": ["always", {
      "ignore": ["stylelint-commands", "after-comment"]
    }],
    "block-closing-brace-empty-line-before": null,
    "block-closing-brace-newline-before": null,
    "at-rule-empty-line-before": ["always", {
      "except": ["after-same-name", "blockless-after-same-name-blockless"]
    }],
    "rule-empty-line-before": ["always-multi-line", {
      "except": ["after-single-line-comment"]
    }],
    "block-opening-brace-newline-after": null
  }
}
